In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("clean_train_data.csv")
#test_data = pd.read_csv("clean_test_data.csv")

In [10]:
del df['Unnamed: 0']

In [11]:
df.head()

,Year,Kilometers_Driven,Seats,Mileage_int,Engine_int,Power_int,Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,...,Model_X1,Model_X5,Model_XUV500,Model_Xcent,Model_Xylo,Model_Zen,Model_Zest,Model_i10,Model_i20,Price_int
0,2010,72000,5.0,26.60,998.0,58.16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.75
1,2015,41000,5.0,19.67,1582.0,126.20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12.50
2,2011,46000,5.0,18.20,1199.0,88.70,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4.50
3,2012,87000,7.0,20.77,1248.0,88.76,0,0,1,0,...,0,0,0,0,0,0,0,0,0,6.00
4,2013,40670,5.0,15.20,1968.0,140.80,0,0,0,1,...,0,0,0,0,0,0,0,0,0,17.74

In [7]:
from sklearn.model_selection import train_test_split

In [19]:
x = df.drop("Price_int",axis=1)
y = df['Price_int']
x.shape,y.shape

((5060, 113), (5060,))

In [20]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=51)

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

q = sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

Linear Regression

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [23]:
lr = LinearRegression()
lasso = Lasso()
ridge = Ridge()

In [36]:
def rmse(x_test,y_pred):
    return np.sqrt(mean_squared_error(x_test,y_pred))

In [33]:
lr.fit(x_train,y_train)
y_train_pred = lr.predict(x_train)
y_test_pred = lr.predict(x_test)

lr_score_train = lr.score(x_test,y_test)
lr_score_test = lr.score(x_train,y_train)
lr_score_train,lr_score_test

(0.8341631554770567, 0.8261853916449786)

In [37]:
rmse(y_test,y_test_pred)

3.514053372044289

In [38]:
rmse(y_train,y_train_pred)

3.9315858067820457

In [40]:
lasso.fit(x_train,y_train)
y_train_pred_lasso = lasso.predict(x_train)
y_test_pred_lasso = lasso.predict(x_test)

print("Train data r2 Score:",r2_score(y_train,y_train_pred_lasso))
print("Test data r2 Score:",r2_score(y_test,y_test_pred_lasso))
print("Error:",rmse(y_test,y_test_pred_lasso))
print("Error:",rmse(y_train,y_train_pred_lasso))

Train data r2 Score: 0.7052686761812421
Test data r2 Score: 0.711529155789252
Error: 4.634669856702309
Error: 5.119620493762692

In [41]:
ridge.fit(x_train,y_train)
y_train_pred_ridge = lasso.predict(x_train)
y_test_pred_ridge = lasso.predict(x_test)

print("Train data r2 Score:",r2_score(y_train,y_train_pred_ridge))
print("Test data r2 Score:",r2_score(y_test,y_test_pred_ridge))
print("Error:",rmse(y_test,y_test_pred_ridge))
print("Error:",rmse(y_train,y_train_pred_ridge))

Train data r2 Score: 0.7052686761812421
Test data r2 Score: 0.711529155789252
Error: 4.634669856702309
Error: 5.119620493762692

Support Vector Machine

In [42]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(x_train,y_train)

SVR()

In [43]:
y_train_pred_svm = svr.predict(x_train)
y_test_pred_svm = svr.predict(x_test)
print("Train data r2 Score:",r2_score(y_train,y_train_pred_svm))
print("Test data r2 Score:",r2_score(y_test,y_test_pred_svm))
print("Error:",rmse(y_test,y_test_pred_svm))
print("Error:",rmse(y_train,y_train_pred_svm))

Train data r2 Score: 0.6990838603509133
Test data r2 Score: 0.7461081877194065
Error: 4.348026560393143
Error: 5.17305817441617

Random Forest Regressor

In [44]:
from sklearn.ensemble import RandomForestRegressor

In [46]:
rfr = RandomForestRegressor()
rfr.fit(x_train,y_train)

y_train_pred_rfr = rfr.predict(x_train)
y_test_pred_rfr = rfr.predict(x_test)

print("Train data r2 Score:",r2_score(y_train,y_train_pred_rfr))
print("Test data r2 Score:",r2_score(y_test,y_test_pred_rfr))
print("Error:",rmse(y_test,y_test_pred_rfr))
print("Error:",rmse(y_train,y_train_pred_rfr))

Train data r2 Score: 0.9909215512405909
Test data r2 Score: 0.9472396345682884
Error: 1.98208254974543
Error: 0.8985255786020405

In [47]:
import joblib
joblib.dump(rfr,'usedcar_ml_model.pkl')

['usedcar_ml_model.pkl']